:root {
  --color-bg: #ededed;
  --color-dark: #151515;
  --color-border: #c7c7c7;
  --color-accent-soft: #f2ffbc;
  --color-accent-strong: #dbff44;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--color-bg);
}

/* 화면 전체 고정 캔버스 */
.logo-page {
  position: fixed;
  inset: 0;
  background-color: var(--color-bg);
  overflow: hidden;
}

/* ------------------------- */
/*          ICON             */
/* ------------------------- */

.logo-icon {
  position: absolute;

  width: 60vw;
  height: auto;

  top: 65%;
  left: 25%;
  transform-origin: center center;

  transform: translate(10%, -55%) rotate(28deg);

  pointer-events: none;
  user-select: none;
  z-index: 0;
}

/* ------------------------- */
/*          TEXT             */
/* ------------------------- */

.logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

/* NeuroTune 타이틀 */
.logo-title {
  margin: 0;
  font-family: "Fjalla One", sans-serif;
  font-size: 72px;
  color: var(--color-dark);
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-shadow: 0 0 20.7px var(--color-border);
}

/* 서브타이틀 + 하이라이트 래퍼 */
.subtitle-wrap {
  position: relative;
  margin-top: 12px;
}

/* 네온 바 */
.logo-subtitle-highlight {
  position: absolute;
  width: 210px;
  height: 6px;
  background-color: var(--color-accent-soft);
  opacity: 0.5;
  border-radius: 999px;

  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

/* EEG로 찾는 나만의 음악 취향 */
.logo-subtitle {
  position: relative;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-dark);
  letter-spacing: -0.11em;
  z-index: 1;
  text-align: center;
}
